/*---------------------------------------------------------------------------


Kdog Starter
By: Team Telepathy
Version: 1.0.0


---------------------------------------------------------------------------*/
/* Define Theme Variables */
/*---------------------------------------------------------------------------


Config
By: Team Telepathy
Version: 1.0.0


---------------------------------------------------------------------------*/
/* --------------------------------------
	Layout
---------------------------------------*/
/* Queries, Built by http://include-media.com/#features */
/* Build Mixins */
/* Build Helpers */
/* Build Modules */
/* Build Layout */
/* Build Shame */
/*---------------------------------------------------------------------------


Shame - Stuff We Need to Clean Up
By: Team Telepathy
Version: 1.0.0


---------------------------------------------------------------------------*/
